body, h1, h2, h3, h4, h5, h6, ul, table, p {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #e5e5e5; }

a {
  padding-bottom: 3px;
  color: #0079ff;
  font-size: 18px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:hover {
    border-bottom: 1px solid #0079ff; }

.toggle {
  width: 200px;
  border: 1px solid #dbdbdb;
  background-color: #e5e5e5; }
  .toggle a {
    display: inline-block;
    width: 78px;
    color: #575757;
    padding: 5px 10px;
    background-color: #F0F0F0; }
    .toggle a.selected {
      background-color: #e5e5e5; }

header {
  position: relative;
  z-index: 100;
  padding: 10px 15px;
  background-color: white;
  -webkit-box-shadow: 2px 0px 2px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 2px 0px 2px 2px rgba(1, 1, 1, 0.1); }
  header h1 {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 200;
    float: left; }
  header .toggle {
    margin: 0 auto; }
  header .export {
    padding-top: 5px;
    float: right; }
  header:after {
    content: '';
    display: block;
    clear: both; }

.main {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
  .main#map a {
    font-size: 10px; }
