body, h1, h2, h3, h4, h5, h6, ul, table, p {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #e5e5e5; }

a {
  padding-bottom: 3px;
  color: #0079ff;
  font-size: 18px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:hover {
    border-bottom: 1px solid #0079ff; }

.toggle {
  width: 199px;
  border: 1px solid #dbdbdb;
  background-color: #e5e5e5; }
  .toggle a {
    display: inline-block;
    width: 49%;
    color: #575757;
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    background-color: #F0F0F0;
    border: none; }
    .toggle a.selected {
      background-color: #e5e5e5; }

header {
  display: none;
  position: relative;
  z-index: 100;
  padding: 10px 15px;
  background-color: white;
  -webkit-box-shadow: 2px 0px 2px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 2px 0px 2px 2px rgba(1, 1, 1, 0.1); }
  header h1 {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 200;
    float: left; }
  header .toggle {
    margin: 0 auto; }
  header .export {
    padding-top: 5px;
    float: right; }
  header:after {
    content: '';
    display: block;
    clear: both; }

.main {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
  .main #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .main #stats {
    padding: 50px; }
    .main #stats .stat {
      float: left;
      margin-right: 50px; }
    .main #stats .chart rect {
      stroke: white;
      fill: steelblue; }
    .main #stats .chart text {
      fill: white;
      font-weight: 100; }
  .main p {
    font-style: italic;
    color: #434343; }
    .main p span.number {
      font-size: 90px; }
  .main a {
    font-size: 10px; }

.modal {
  width: 450px;
  padding: 25px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -15%;
  z-index: 75;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 2px 2px rgba(1, 1, 1, 0.1); }
  .modal h3 {
    font-size: 35px;
    margin-right: 10px;
    font-weight: 300;
    margin-bottom: 20px; }

form label {
  display: inline-block;
  width: 100%; }
form input[type="text"] {
  margin-bottom: 20px;
  width: 300px;
  padding: 10px; }
form input[type="submit"] {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0;
  color: #0079ff;
  font-size: 18px;
  cursor: pointer;
  text-align: left; }
  form input[type="submit"]:hover {
    border-bottom: 1px solid #0079ff; }

#api_info {
  display: none; }
