<!doctype html>

<html>
<head>
</head>
<body>
    
<div class="step">
  <table><tr>
    <td class="instructions">Install 4K Tracker</td>
    <td width="47" class="arrow">&rarr;</td>
    <td width="57" class="imagelink">
      <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/45085345/4KTracker_IPA/4ktracker_minifest.plist">
        <img src="/static/img/4k-profile.jpg" height="57" width="57" />
      </a>
    </td>
  </tr></table>
</div>
    
</body>

</html>