<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/static/css/default.css">
</head>
<body>
<div>
    <p>
        If your ios version is iOS 8 or above, please click the first link. 
        If your iOS version is iOS 7, please click the second link to install 4K Tracker app.
    </p>
</div>    
    
<div class="step">
  <table><tr>
    <td class="instructions">Install 4K Tracker - iOS 8</td>
    <td width="47" class="arrow">&rarr;</td>
    <td width="57" class="imagelink">
      <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/45085345/4KTracker_IPA/4ktracker_minifest.plist">
        <img src="/static/img/4k-profile.jpg" height="57" width="57" />
      </a>
    </td>
  </tr></table>
</div>
    
<div class="step">
  <table><tr>
    <td class="instructions">Install 4K Tracker - iOS 7</td>
    <td width="47" class="arrow">&rarr;</td>
    <td width="57" class="imagelink">
      <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/45085345/4KTracker_IPA/4ktracker_minifest_ios7.plist">
        <img src="/static/img/4k-profile.jpg" height="57" width="57" />
      </a>
    </td>
  </tr></table>
</div>    
    
</body>

</html>